.layout {
    display: flex;
    background-color: #e6e0d4;
}
.sidebar {
    min-width: 250px;
    flex-shrink: 0;
}
.main-content {
    flex: 1;
    text-align: center;
    padding: 24px 55px;
}
.sidebar_title {
    margin-left: 40px;
    font-size: 1.5em;
    font-weight: bold;
    color: black;
}
.category_list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap:15px;
}
.category_card {
    display: flex;
    gap: 10px;
    align-items: center;
}
.category_image {
    width: 35px;
    height: 35px;
}
.search_section {
    display: flex;
    align-items: center;
    margin-top: 30px;
    gap: 5px;
}

.input_wrapper {
    position: relative;
}

.input_wrapper input {
    box-sizing: border-box;
}

.input_wrapper select {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
    height: 100%;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}
a[aria-current="true"] {
    color: #3c352f;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
input {
    box-sizing: border-box;
    margin-left: 40px;
    padding: 5px;
}
button {
    padding: 5px;
}


details {
    margin-left: 40px;
    font-size: 18px;
    margin-top: 40px;
}
details > summary {
  list-style: none;
}
details > summary::marker, /* Latest Chrome, Edge, Firefox */ 
details > summary::-webkit-details-marker /* Safari */ {
  display: none;
}
details:hover {
    cursor: pointer;
}
details::details-content {
  opacity: 0;
  transition: max-height 0.4s ease, opacity 0.4s ease;

}

details[open]::details-content {
  opacity: 1;
}